html {
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: .25rem;
}

p {
  line-height: 1.35rem;
}
